<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log_file" value="ip_address_check.log"/>
		<add key="ip_address_file_path" value=".external_ip.txt"/>
		<add key="external_ip_change_exe" value="calc.exe"/>
		<add key="external_exe_args" value=""/>
	</appSettings>
</configuration>